<fieldset class="fieldset-covid">
<strong>Covid-19 Precautions</strong>
<p></p>
<p>
We love playing in sessions - it's why we built this website.
While the Covid-19 pandemic is with us, we are not supporting the idea of meeting
in public places to play tunes together.
</p>
<p>
We will continue to maintain the site, add new tunes, suggest Tunes of the Week
and so on. And if we can work out other ways for us to join together to play
collectively and safely, we'll promote those here and on the
<a href="https://www.facebook.com/groups/WellingtonSession">Wellington Irish Sessions</a> Facebook page
</p>
<p>
Keep playing, keep safe, keep apart and #flattenthecurve.
</p>
<p>
Ted and Andy
</p>
</fieldset>

<div class="row"></div>
