<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name=viewport content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} | {{ site.name }}{% else %}{{ site.name }}{% endif %}</title>
  {% if site.author %}
    <meta name="author" content="{{ site.author }}">
  {% endif %}
  {% capture description %}{% if page.description %}{{ page.description }}{% elsif site.description %}{{ site.description }}{%else%}{{ content | raw_content }}{% endif %}{% endcapture %}
  <meta name="description" content="{{ description | strip_html | condense_spaces | truncate:150 }}">
  {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords }}">
  {%else%}
    <meta name="keywords" content="{{ site.keywords }}">
  {% endif %}

  <link href="{{ site.http_host }}/css/main.css" media="screen" rel="stylesheet" type="text/css">
  
  <link rel="canonical" href="{{ site.http_host }}{{ page.url }}">
  <link href="{{ site.http_host }}/favicon.ico" rel="icon">
   
  <link rel="apple-touch-icon" href="{{ site.http_host }}/images/apple-touch-icon-iphone-60x60.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ site.http_host }}/images/apple-touch-icon-ipad-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ site.http_host }}/images/apple-touch-icon-iphone-retina-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ site.http_host }}/images/apple-touch-icon-ipad-retina-152x152.png">

  <!-- Colour should match $primary_color in _sass/_variables.scss -->
  <!-- See https://stackoverflow.com/questions/26960703/how-to-change-the-color-of-header-bar-and-address-bar-in-newest-chrome-version-o/26960753#26960753 -->
  <!-- Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#282828">
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#282828">
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  {% include metadata.html %}

</head>
