<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name=viewport content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} | {{ site.name }}{% else %}{{ site.name }}{% endif %}</title>
  {% if site.author %}
    <meta name="author" content="{{ site.author }}">
  {% endif %}
  {% capture description %}{% if page.description %}{{ page.description }}{% elsif site.description %}{{ site.description }}{%else%}{{ content | raw_content }}{% endif %}{% endcapture %}
  <meta name="description" content="{{ description | strip_html | condense_spaces | truncate:150 }}">
  {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords }}">
  {%else%}
    <meta name="keywords" content="{{ site.keywords }}">
  {% endif %}

  <link href="{{ site.github.url }}/css/nouislider.css" media="screen" rel="stylesheet" type="text/css">
  <link href="{{ site.github.url }}/css/main.css" media="screen" rel="stylesheet" type="text/css">
  <link rel="canonical" href="{{ site.github.url }}{{ page.url }}">
  <link href="{{ site.github.url }}/favicon.ico" rel="icon">
  <link rel="alternate" type="application/atom+xml" title="{{ site.name }}" href="{{ site.github.url }}/atom.xml"/>
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.github.url }}/images/apple-touch.jpg" />

  <!-- Colour should match $primary_color in _sass/_variables.scss -->
  <!-- See https://stackoverflow.com/questions/26960703/how-to-change-the-color-of-header-bar-and-address-bar-in-newest-chrome-version-o/26960753#26960753 -->
  <!-- Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#231B19">
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#231B19">
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  {% include google_analytics.html %}
  {% include js-libs.html  %}
  {% include metadata.html %}

</head>
