<!-- Load es5-shim first-->
<script src="{{ site.js_host }}/js/es5-shim.min.js"></script>

<!-- Imported and modified -->
<script src="{{ site.js_host }}/js/musical-ws.js"></script>

<script src="{{ site.js_host }}/js/abcplayer.js"></script>
<script src="{{ site.js_host }}/js/audioplayer.js"></script>
<script src="{{ site.js_host }}/js/nouislider.js"></script>
<script src="{{ site.js_host }}/js/wNumb.js"></script>
<script src="{{ site.js_host }}/js/lunr.min.js"></script>
<script src="{{ site.js_host }}/js/webpage_tools.js"></script>

<!-- Imported from external sources and used as is -->
<script src="{{ site.js_host }}/js/abcjs_basic_5.10.2-min.js"></script>
<script src="{{ site.js_host }}/js/jquery-3.3.1.min.js"></script>
<!-- https://mottie.github.io/tablesorter/docs/index.html -->
<script src="{{ site.js_host }}/js/jquery.tablesorter.min.js"></script>
<!-- http://chippepedia.org/vendor/jquery/plugins/tablesorter/js/parsers/ -->
<script src="{{ site.js_host }}/js/jquery.tablesorter.parser-ignore-articles.js"></script>
