<!-- Load es5-shim first-->
<script src="{{ site.js_host }}/js/es5-shim.min.js"></script>

<!-- Imported and modified -->
<script src="{{ site.js_host }}/js/musical-ws.js"></script>

<script src="{{ site.js_host }}/js/abcplayer.js"></script>
<script src="{{ site.js_host }}/js/audioplayer.js"></script>

<!-- Imported from external sources and used as is -->
<script src="{{ site.js_host }}/js/abcjs_basic_5.1.1-min.js"></script>
<script src="{{ site.js_host }}/js/jquery-3.3.1.min.js"></script>
<script src="{{ site.js_host }}/js/jquery.tablesorter.min.js"></script>
