
<!-- https://lunrjs.com/ -->
<script src="{{ site.js_host }}/js/lunr.min.js"></script>

<!-- https://github.com/cure53/DOMPurify -->
<script src="{{ site.js_host }}/js/purify.min.js"></script>

<script src="{{ site.js_host }}/js/wssTools.js"></script>

<script defer src="{{ site.js_host }}/js/audioplayer.js"></script>

<!-- https://github.com/paulrosen/abcjs -->
<script defer src="{{ site.js_host }}/js/abcjs-basic-min.js"></script>

<!-- https://refreshless.com/nouislider/ -->
<script  src="{{ site.js_host }}/js/nouislider.min.js"></script>
<!-- https://refreshless.com/wnumb/ -->
<script  src="{{ site.js_host }}/js/wNumb.min.js"></script>

{% if site.github.url contains "https://" %}
{% include cloudflare.html %}
{% include google_analytics.html %}
{% endif %}