<!-- Social media content metadata -->
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}" />
<meta property="og:site_name" content="{{ site.name }}" />
<meta property="og:url" content="{% if page.url %}{{ site.github.url }}{{ page.url }}{% else %}{{ site.github.url }}{% endif %}/" />
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
<meta property="og:author" content="{{ site.facebook_page }}" />
<meta property="og:locale" content="{{ site.facebook_locale }}" />
<meta property="og:type" content="{% if page.facebook_type %}{{ page.facebook_type }}{% else %}article{% endif %}" />
{% if page.facebook_image %}<meta property="og:image" content="{{ site.github.url }}{{ page.facebook_image }}" />{% else %}<meta property="og:image" content="{{ site.github.url }}{{ site.facebook_image }}" />{% endif %}
