<!-- The Modal -->

<div id="setModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <!-- *** Player controls *** -->
        <!-- Show a header for where the dots will appear -->
        <div id="paperHeader">
            <h2>Choose some tunes first!!</h2>
        </div>
        <!-- Draw the dots -->
        <div class="output" id='output' style="max-width: 650px;">
            <div id="abcPaper" class="abcPaper"></div>
        </div>

        <!-- Controls for ABC player -->
        <div id="ABCplayer"></div>

        <!-- Allow the user to save their ABC-->
        <form>
            <div class="formParent">
                <div class="formChild">
                    <span title="Download the ABC file details. Don't lose your work!">
                        <input value='Download ABC' type='button' class="filterButton"
                            onclick='downloadABCFile(document.getElementById("textAreaABC").value)' />
                    </span>
                </div>
                <div class="formChild">
                    <span
                        title="When you're happy with your selection you can print your set using this button. Please think of the trees!">
                        <input class="button" type="button" class="filterButton" value="Print this Set"
                            onclick="printDotsImage(document.getElementById('abcPaper').innerHTML)" />
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    // Get the modal
    var setModal = document.getElementById("setModal");

    function viewModal() {
        setModal.style.display = "block";
    }

    // Get the <span> element that closes the setModal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the setModal
    span.onclick = function () {
        var playerClass = document.getElementById("playABCset").className;
        if (playerClass == 'stopButton') { // audio is currently playing.
            document.getElementById("playABCset").className = "playButton";
            stopABC("playABCset");
        }
        setModal.style.display = "none";
    }

    // When the user clicks anywhere outside of the setModal, close it
    window.onclick = function (event) {
        if (event.target == setModal) {
            var playerClass = document.getElementById("playABCset").className;
            if (playerClass == 'stopButton') { // audio is currently playing.
                document.getElementById("playABCset").className = "playButton";
                stopABC("playABCset");
            }
            setModal.style.display = "none";
        }
    }
</script>