<!--build the first two columns-->
<tr>
<td class="setTitle"><a href="{{ set.url }}">{{ set.title }}</a></td>
<td>{{ set.rhythm }}</td>

<td>
<table style="width: 100%;">
{% for setTune in set.tunes %}
{% assign setTuneURL = setTune | replace: 'md', 'html' | prepend: '/tunes/' %}
{% assign siteTunes = site.tunes | where: 'titleID', setTune %}
{% for tune in siteTunes %}
<tr style="height: 77px; background-color:transparent;"><td  style="vertical-align: center;">
<a href="{{ setTuneURL | absolute_url }}">{{ tune.title | escape }} ({{ tune.key}})</a>
</td></tr>
{% endfor %}
{% endfor %}
</table>
</td>

<td>
<table style="width: 100%;">
{% assign setTuneID = include.setId | times: 10 %}
{% for setTune in set.tunes %}
{% assign setTuneID = setTuneID | plus: 1 %}
{% assign siteTunes = site.tunes | where: 'titleID', setTune %}
{% for tune in siteTunes %}
<tr style="background-color:transparent;" id="tr{{setTuneID}}">
{% if tune.mp3_file contains "mp3" %}
<td id="showPlayer{{ setTuneID }}">
<script>
showPlayer{{ setTuneID }}.innerHTML = createMP3player('{{setTuneID}}', '{{ site.mp3_host }}{{ tune.mp3_file }}');
createSliders('{{setTuneID}}');
</script>
{% else %}
<td id="showPlayer{{ setTuneID }}">
<script>
<!--unroll ABC to handle repeats and different endings for parts-->
textAreas.innerHTML += '<textarea id="{{'ABC' | append: setTuneID }}" style="display:none;">' + preProcessABC({{ tune.abc | jsonify }}) + '</textarea>';
showPlayer{{ setTuneID }}.innerHTML = createABCplayer('{{ setTuneID }}', '{{ site.defaultABCplayer }}');
</script>
{% endif %}
</td></tr>
{% endfor %}
{% endfor %}
</table>
</td>
</tr>
