<!--build the first three columns-->
<td class="tuneTitle"><a href="{{ tune.url }}">{{ tune.title }}</a></td>
<td>{{ tune.key }}</td>
<td>{{ tune.rhythm }}</td>
{% if tune.set %} {% assign tempSet = tune.set %} {% else %} {% assign tempSet = "none" %} {% endif %}
<td>{{ tempSet }}</td>
{% if tune.mp3_file %}
<td id="showPlayer{{ include.tuneId }}">
   <script>
   showPlayer{{ include.tuneId }}.innerHTML = createMP3player('{{ include.tuneId }}', '{{ site.mp3_host }}{{ tune.mp3_file }}');
   </script>
</td>
{% else %}
<td id="showPlayer{{ include.tuneId }}">
    <script>
    showPlayer{{ include.tuneId }}.innerHTML = createABCplayer('{{ include.tuneId }}');
    </script>
</td>

<!--unroll ABC to handle repeats and different endings for parts-->
<script>
var textAreas = document.getElementById("abc-textareas");

textAreas.innerHTML += '<textarea id="{{'ABC' | append: include.tuneId }}" style="display:none;">' + preProcessABC({{ tune.abc | jsonify }}) + '</textarea>';
</script>
{% endif %}
