<!--build the first three columns-->
<td><a href="{{ tune.url }}">{{ tune.title }}</a></td>
<td>{{ tune.key }}</td>
<td>{{ tune.rhythm }}</td>

{% if tune.mp3_file %}
<td id="showPlayer{{ include.counter }}">
   <script>
   showPlayer{{ include.counter }}.innerHTML = createMP3player('{{ include.counter }}', '{{ site.mp3_host }}{{ tune.mp3_file }}');
   </script>
</td>
{% else %}
<td id="showPlayer{{ include.counter }}">
    <script>
    showPlayer{{ include.counter }}.innerHTML = createABCplayer('{{ include.counter }}');
    </script>
</td>

<!--unroll ABC to handle repeats and different endings for parts-->
<script>
var textAreas = document.getElementById("abc-textareas");

textAreas.innerHTML += '<textarea id="{{'ABC' | append: include.counter }}" style="display:none;">' + preProcessABC({{ tune.abc | jsonify }}) + '</textarea>';
</script>
{% endif %}
