<!-- START of code included from tuneoftheweek.html -->
<div class="gridParent">
    <div class="gridChild">
            
        <div class="tuneoftheweekLayout">
            <div class="tuneoftheweekLegend">{{ legend }}</div>
            <span>
                <a href="{{ tune.url }}">{{ tune.title }}</a>
            </span>
            <span>
                <input class="filterButton" type="button" onclick="changeTune({{ tuneID }});" value="Play Now" />
            </span>
            <span>
                {{ tune.key }} {{ tune.rhythm }}
            </span>
        </div>
    </div>
</div>
<!-- END of code included from tuneoftheweek.html -->
                