<!-- START of The Modal -->

<div id="tuneModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>

        <!-- *** Tune details *** -->
        <div id="tuneTitle"></div>
        <div id="tuneInfo"></div>
        <br />

        <!-- *** Player controls *** -->
        <div class="player">
            <div id="pageAudioPlayer"></div>
            <div id="pageMP3player"></div>
        </div>

        <!-- *** loop presets *** -->
        <form id="loopForm" style="display: none;">
            <input type="button" class="filterButton" value="Show Preset Loops"
                onclick="audioPlayer.toggleLoops(this);">
        </form>
        <div id="loopPresetControls" style="display: none;"></div>

        <!-- *** rendered ABC and tune selector scrolling table *** -->
        <form id="dotsForm" style="display: none;">
            <input type="button" class="filterButton" value="Show the Dots" onclick="audioPlayer.toggleTheDots(this);">
        </form>
        <div id="abcOutput" style="display: none;">
            <div id="abcPaper"></div>
            <div id="abcAudio"></div>
        </div>
        <div id='abcSource' style="display: none;">
            <textarea name='abcText' id="textAreaABC"></textarea>
        </div>
    </div>
</div>

<script>
    // Get the modal
    var modal = document.getElementById("tuneModal");
    
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        audioPlayer.stopAudio();
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            audioPlayer.stopAudio();
            modal.style.display = "none";
        }
    }
</script>

<!-- END of The Modal -->