
<fieldset class="fieldset-tune-of-the-week">
    <legend>{{ legend }}</legend>
    <div class="row">
        <div class="small-5 columns">
            <span title="Go to Tunepage">
                <a href="{{ tune.url }}">{{ tune.title }}</a>
            </span>
        </div>
        <div class="small-3 columns">
            <input class="filterButton" type="button" onclick="changeTune({{ tuneID }});" value="Play Now" />
        </div>
        <div class="small-3 columns">
            {{ tune.key }} {{ tune.rhythm }}
        </div>
    </div>
</fieldset>

<div class="row"></div>
