<!-- START of The Modal -->

<div id="tuneModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>

        <!-- *** Tune details *** -->
        <div id="tuneTitle"></div>
        <div id="tuneInfo"></div>
        <br />

        {% include audioPlayerControls.html %}

        <!-- *** preset loops if needed *** -->
        <div id="presetLoops"></div>
        
        <!-- *** rendered ABC and tune selector scrolling table *** -->
        <details>
            <summary class="filterButton" onclick="audioPlayer.stopABCplayer()">the Dots</summary>
            <div id="abcOutput">
                <div id="abcPaper"></div>
                <div id="abcAudio"></div>
            </div>
        </details>
        <div id='abcSource' class="abcSource">
            <textarea name='abcText' id="textAreaABC"></textarea>
        </div>
    </div>
</div>

<script>
    // Get the modal
    var modal = document.getElementById("tuneModal");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        audioPlayer.stopMP3player();
        audioPlayer.stopABCplayer();
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            audioPlayer.stopMP3player();
            audioPlayer.stopABCplayer();
            modal.style.display = "none";
        }
    }
</script>

<!-- END of The Modal -->
