.mp3player_tunepage {
    max-width: 650px;
    min-width: 450px;
}

.abcplayer_tunepage {
    max-width: 650px;
    min-width: 450px;
}

.mp3player_tablerow{
    min-width: 450px;
    margin: 0 auto;
}

.abcplayer_tablerow {
    min-width: 450px;
    margin: 0 auto;
}

.playButton {
    height: 40px;
    width: 40px;
    border: none;
    background: url('/images/Play_button.png');
    opacity: 0.7;
    background-size: 60% 60%;
    background-repeat: no-repeat;
    float: left;
    margin: 10px auto auto auto;
    outline: none;
}
.playButton:hover {
  opacity: 1.0;
  transition: all 250ms linear;
}

.pauseButton {
    height: 40px;
    width: 40px;
    border: none;
    background: url('/images/Pause_button.png');
    background-size: 60% 60%;
    background-repeat: no-repeat;
    float: left;
    margin: 10px auto auto auto;
    outline: none;
}
.stopButton {
    height: 40px;
    width: 40px;
    border: none;
    background: url('/images/Stop_button.png');
    background-size: 60% 60%;
    background-repeat: no-repeat;
    float: left;
    margin: 10px auto auto auto;
    outline: none;
}

.audioControl {
    width: 100%;
    min-width: 180px;
    margin-top: 18px;
    margin-bottom: 15px;
    float: left;
}

.loopControl {
    width: 100%;
    min-width: 180px;
    float: left;
}

.speedControl {
    width: 100%;
    min-width: 100px;
    margin-top: 8px;
    padding-left: 20px;
    float: left;
}

.audioPos {
    position: relative;
    font-size: 11px;
    margin-top: 22px;
    margin-left: -12px;
    //float: right;
    text-align: center;
}

.durationP {
    position: relative;
    font-size: 11px;
    //margin-top: 37px;
    margin-left: -12px;
    //float: right;
    text-align: center;
    text-decoration: overline;
}

p.audio {
    clear: left;
    font-size: small;
    text-align: center;
}

.tuneTitle {
    font-size: 110%;
}
.player audio {
    width: 70%;
}

.abctext {
    display: none;
}

.loopButton {
   background-color: lighten($brand-color, 40%);
   background: linear-gradient($Loopbutton-color1, $Loopbutton-color2);
   cursor: pointer;
   padding: 3px;
   border-radius: 10px;
   font-size: 75%;
}

.filterButton {
   background-color:$brand-color;
   padding:5px 10px;
   color: darken($complimentary-color, 10%);
   cursor: pointer;
   border-radius: 10px;
}

.filterButton.filterDisabled {
  opacity: 0.55;
  cursor: not-allowed;
}

.sep {
    border-bottom:1px solid black;
}

.sep td {
    padding-bottom:5px;
}

fieldset{
  margin: 0 auto;
  text-align: left;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

form
{
    text-align: left;
}

th {
    background-color:$brand-color;
    color: darken($complimentary-color, 10%);
    cursor: pointer;
    text-align: center;
}

td {
    text-align: center;
}

tr:nth-of-type(odd) {
      background-color:darken($complimentary-color, 6%);
}
tr:hover {
    background-color: lightsteelblue;
}
tr#no_hover:hover {
    background-color: transparent;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 50%;
    background: #a0a0a0;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

// The slider handle (use -webkit- (Chrome, Opera, Safari, Edge)
// and -moz- (Firefox) to override default look)
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    // adjust width of control button
    width: 15px;
    // adjust height of control button
    height: 20px;
    border-radius: 50%;
    background: darken($brand-color, 20%);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    // adjust width of control button
    width: 15px;
    // adjust height of control button
    height: 20px;
    border-radius: 50%;
    background: darken($brand-color, 20%);
    cursor: pointer;
}
