.mp3player_tunepage {
    max-width: 650px;
    width: 90%;
}

.abcplayer_tunepage {
    max-width: 650px;
    width: 90%;
}

.mp3player_tablerow {
    min-width: 450px;
    margin: 0 auto;
}

.abcplayer_tablerow {
    min-width: 450px;
    margin: 0 auto;
}

.playButton {
    height: 40px;
    width: 40px;
    border: none;
    background: url("/images/play.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding: 0;
    outline: none;
}

.pauseButton {
    height: 40px;
    width: 40px;
    border: none;
    background: url("/images/pause.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding: 0;
    outline: none;
}

.stopButton {
    height: 40px;
    width: 40px;
    border: none;
    background: url("/images/stop.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding: 0;
    outline: none;
}

.mp3AudioControl {
    width: 100%;
    min-width: 180px;
    margin-top: 27px;
    float: center;
}

.mp3LoopControl {
    margin-top: 20px;
    margin-left: 20px;
    width: 100%;
    min-width: 180px;
    float: center;
}

.mp3SpeedControl {
    width: 100%;
    min-width: 100px;
    margin-top: 27px;
    padding-left: 20px;
    float: left;
}

.abcAudioControl {
    width: 100%;
    min-width: 180px;
    margin-top: 27px;
    margin-bottom: 15px;
    float: left;
}

.abcSpeedControl {
    width: 100%;
    min-width: 100px;
    margin-top: 27px;
    margin-bottom: 15px;
    padding-left: 20px;
    float: left;
}

p.audioLabel {
    clear: left;
    font-size: small;
    text-align: center;
}

p.mp3SpeedLabel {
    margin-top: 24px;
    clear: left;
    font-size: small;
    text-align: center;
}

p.attribution {
    max-width: 650px;
}

.tuneTitle {
    font-size: 110%;
}

.player audio {
    width: 70%;
}

.abctext {
    display: none;
}

.loopButton {
    background-color: lighten($brand-color, 40%);
    background: linear-gradient($Loopbutton-color1, $Loopbutton-color2);
    cursor: pointer;
    padding: 3px;
    border-radius: 8px;
    font-size: 75%;
}

.filterButton {
    background-color: $brand-color;
    padding: 5px 10px;
    color: darken($complimentary-color, 10%);
    cursor: pointer;
    border-radius: 8px;
    font-size: 75%;
}

.filterButton.filterDisabled {
    opacity: 0.55;
    cursor: not-allowed;
}

.sep {
    border-bottom: 1px solid black;
}

.sep td {
    padding-bottom: 5px;
}

h2 span {
    display:inline;
}

fieldset {
    max-width: 650px;
    float:left;
    margin: 0 auto;
    text-align: left;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border-style: solid;
}

form {
    text-align: left;
}

input,
select,
textarea {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

th {
    background-color: $brand-color;
    color: darken($complimentary-color, 10%);
    cursor: pointer;
    text-align: center;
    position: sticky;
    top: 0;
}

th:first-of-type {
    -webkit-border-top-left-radius: 8px;
    -moz-border-top-left-radius: 8px;
    border-top-left-radius: 8px;
}

th:last-of-type {
    -webkit-border-top-right-radius: 8px;
    -moz-border-top-right-radius: 8px;
    border-top-right-radius: 8px;
}

tr:last-of-type td:first-of-type {
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-bottom-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

tr:last-of-type td:last-of-type {
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-bottom-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.tdArchive {
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

td {
    text-align: center;
}

tr:nth-of-type(odd) {
    background-color: darken($complimentary-color, 6%);
}

tr:hover {
    background-color: darken($complimentary-color, 12%);
}

tr#no_hover:hover {
    background-color: transparent;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 50%;
    background: #a0a0a0;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.slider:hover {
    opacity: 1;
}
// The slider handle (use -webkit- (Chrome, Opera, Safari, Edge)
// and -moz- (Firefox) to override default look)

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    // adjust width of control button
    width: 15px;
    // adjust height of control button
    height: 20px;
    border-radius: 50%;
    background: darken($brand-color, 20%);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    // adjust width of control button
    width: 15px;
    // adjust height of control button
    height: 20px;
    border-radius: 50%;
    background: darken($brand-color, 20%);
    cursor: pointer;
}

.upButton {
    background-color: $brand-color;
    color: darken($complimentary-color, 10%);
    cursor: pointer;
    padding: 1px;
    align: center;
    text-align: center;
    font-size: 90%;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.downButton {
    background-color: $brand-color;
    color: darken($complimentary-color, 10%);
    cursor: pointer;
    padding: 1px;
    align: center;
    text-align: center;
    font-size: 90%;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.loopClass {
    font-size: 14px;
    border-radius: 2px;
    width: 45px;
}

.tableSlider {
    height: 94%;
    padding:  0;
    height: 280px;
    width: 15px;
    bottom: -10px;
    left: -10px;
}

.tuneSelect {
    display: block;
    height: 300px;
    overflow-y: scroll;
    font-size: 14px;
    border: 2px solid $complimentary-color;
    border-radius: 8px;
}

.outputABC {
    max-width: 650px;
}

.loop-container {
    max-width: 625px;
    padding-left: 20px;
    display: block;
    border: 2px solid $complimentary-color;
    //width: 75%;
}

.rowTuneTable {
    font-size: 14px;
    min-width: 300px;
    //width: 75%;
}

.row-title {
    color: darken($complimentary-color, 10%);
    background-color: $brand-color;
    -webkit-border-top-left-radius: 8px;
    -moz-border-top-left-radius: 8px;
    border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-top-right-radius: 8px;
    border-top-right-radius: 8px;
}

.row-even {
    background-color: lighten($brand-color, 40%);
}

.row-odd {
    background-color: lighten($brand-color, 60%);
}

.a {
    color: #f0f0f0;
}
/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
