.mp3player_tunepage {
    max-width: 650px;
    min-width: 450px;
}

.abcplayer_tunepage {
    max-width: 650px;
    min-width: 450px;
}

.mp3player_tablerow{
    min-width: 450px;
    margin: 0 auto;
}

.abcplayer_tablerow {
    min-width: 450px;
    margin: 0 auto;
}

.playButton {
    height: 50px;
    width: 50px;
    border: none;
    background: url('/images/play-new.png');
    opacity: 0.7;
    background-size: 60% 60%;
    background-repeat: no-repeat;
    float: left;
    margin: 10px auto auto auto;
    outline: none;
}
.playButton:hover {
  opacity: 1.0;
  transition: all 250ms linear;
}

.pauseButton {
    height: 50px;
    width: 50px;
    border: none;
    background: url('/images/pause-new.png');
    background-size: 60% 60%;
    background-repeat: no-repeat;
    float: left;
    margin: 10px auto auto auto;
    outline: none;
}
.stopButton {
    height: 50px;
    width: 50px;
    border: none;
    background: url('/images/stop-new.png');
    background-size: 60% 60%;
    background-repeat: no-repeat;
    float: left;
    margin: 10px auto auto auto;
    outline: none;
}

.audioControl {
    width: 100%;
    min-width: 180px;
    margin-top: 18px;
    margin-bottom: 15px;
    float: left;
}

.loopControl {
    width: 100%;
    min-width: 180px;
    float: left;
}

.speedControl {
    width: 100%;
    min-width: 100px;
    margin-top: 8px;
    padding-left: 20px;
    float: left;
}

.new_speedControl {
  width: 100%;
  min-width: 100px;
  margin-top: 0px;
  padding-left: 20px;
  float: left;
}
.audioPosMP3 {
    position: relative;
    font-size: 11px;
    margin-top: 32px;
    margin-left: -18px;
    //float: right;
    text-align: center;
    font-weight: bold;
}

.audioPosABC {
    position: relative;
    font-size: 11px;
    margin-top: 30px;
    margin-left: -18px;
    //float: right;
    text-align: center;
    font-weight: bold;
}

.durationP {
    position: relative;
    font-size: 11px;
    //margin-top: 37px;
    margin-left: -18px;
    //float: right;
    text-align: center;
    font-weight: bold;
    text-decoration: overline;
}

p.audio {
    clear: left;
    font-size: small;
    text-align: center;
}

.tuneTitle {
    font-size: 110%;
}
.player audio {
    width: 70%;
}

.abctext {
    display: none;
}

.loopButton {
   background-color: lighten($brand-color, 40%);
   background: linear-gradient($Loopbutton-color1, $Loopbutton-color2);
   cursor: pointer;
   padding: 3px;
   border-radius: 8px;
   font-size: 75%;
}

.filterButton {
   background-color:$brand-color;
   padding:5px 10px;
   color: darken($complimentary-color, 10%);
   cursor: pointer;
   border-radius: 8px;
}

.filterButton.filterDisabled {
  opacity: 0.55;
  cursor: not-allowed;
}

.sep {
    border-bottom:1px solid black;
}

.sep td {
    padding-bottom:5px;
}

fieldset {
  margin: 0 auto;
  text-align: left;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border-style: solid;
}

form
{
    text-align: left;
}

input, textarea, select {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

th {
    background-color:$brand-color;
    color: darken($complimentary-color, 10%);
    cursor: pointer;
    text-align: center;
}

th:first-of-type {
    -webkit-border-top-left-radius: 8px;
    -moz-border-top-left-radius: 8px;
    border-top-left-radius: 8px;
}

th:last-of-type {
    -webkit-border-top-right-radius: 8px;
    -moz-border-top-right-radius: 8px;
    border-top-right-radius: 8px;
}

tr:last-of-type td:first-of-type {
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-bottom-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

tr:last-of-type td:last-of-type {
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

td {
    text-align: center;
}

tr:nth-of-type(odd) {
      background-color:darken($complimentary-color, 6%);
}
tr:hover {
    background-color: lightsteelblue;
}
tr#no_hover:hover {
    background-color: transparent;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 50%;
    background: #a0a0a0;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

// The slider handle (use -webkit- (Chrome, Opera, Safari, Edge)
// and -moz- (Firefox) to override default look)
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    // adjust width of control button
    width: 15px;
    // adjust height of control button
    height: 20px;
    border-radius: 50%;
    background: darken($brand-color, 20%);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    // adjust width of control button
    width: 15px;
    // adjust height of control button
    height: 20px;
    border-radius: 50%;
    background: darken($brand-color, 20%);
    cursor: pointer;
}

  .noUi-horizontal { // track height
    height: 10px;
    border-radius: 50%;
    background: lighten($brand-color, 20%);
  }
  .noUi-horizontal .noUi-handle {
    width: 16px;
    height: 22px;
    left: -8px;
    top: -6px;
  }
  .noUi-vertical .noUi-handle {
    width: 28px;
    height: 16px;
    left: -6px;
    top: -8px;
  }
  html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
    right: -10px;
    left: auto;
  }
  .noUi-handle {
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    background: #669;
    cursor: default;
    box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
  }
  .noUi-handle:before,
  .noUi-handle:after {
    content: "";
    display: block;
    position: absolute;
    height: 6px;
    width: 1px;
    background: #E8E7E6;
    left: 4px;
    top: 6px;
  }

  .noUi-handle:after {
    left: 8px;
  }
  .noUi-vertical .noUi-handle:after {
    top: 12px;
  }
  noUi-tooltip {
    display: block;
    position: absolute;
    border: 1px solid #D7D7D7;
    border-radius: 2px;
    background: #EEE;
    color: #000;
    padding: 5px;
    text-align: center;
    white-space: nowrap;
  }
  .noUi-horizontal .noUi-tooltip {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 190%);
    left: 50%;
    bottom: 120%;
    font-size: 12px;
    padding: 2px;
  }
  .noUi-horizontal .noUi-handle {
    width: 15px;
    height: 20px;
    border-radius: 50%;
    //background: #455;
    cursor: pointer;
  }
  .noUi-connects {
    border-radius: 3px;
  }
  .noUi-connect {
    background: darken($brand-color, 20%);
  }

  .noUi-connect {
    border-radius: 50%;
  }


  //.noUi-tooltip {
  //  display: none;
  //}
  //.noUi-active .noUi-tooltip {
  //  display: block;
  //}
