* {
    box-sizing: border-box;
}

// START: controls for audio and ABC players
.audioParentOuter {
    display: inline-flex;
}

.audioParentInner {
    display: flex;
    flex-wrap: wrap;
}

.audioChildOuter {
    flex: 1 auto;
}

.audioChildInner {
    flex: 1;
    padding-left: 1rem;
    padding-right: 1rem;
}

.mp3AudioControl {
    width: 100%;
    margin-top: 28px;
    float: left;
}

.mp3LoopControl {
    margin-top: 20px;
    width: 100%;
    min-width: 160px;
    float: left;
}

.mp3SpeedControl {
    width: 100%;
    min-width: 180px;
    margin-top: 28px;
    float: left;
}

.abcAudioControl {
    width: 100%;
    min-width: 200px;
    margin-top: 28px;
    margin-bottom: 15px;
    float: left;
}

.abcSpeedControl {
    width: 100%;
    min-width: 180px;
    margin-top: 28px;
    margin-bottom: 15px;
    padding-left: 20px;
    float: left;
}

.playButton {
    height: 40px;
    width: 40px;
    border: none;
    background: url("/images/play.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    padding: 0;
    outline: none;
}

.pauseButton {
    height: 40px;
    width: 40px;
    border: none;
    background: url("/images/pause.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    padding: 0;
    outline: none;
}

.stopButton {
    height: 40px;
    width: 40px;
    border: none;
    background: url("/images/stop.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    padding: 0;
    outline: none;
}

p.audioLabel {
    clear: left;
    font-size: small;
    text-align: center;
}

p.mp3SpeedLabel {
    margin-top: 24px;
    clear: left;
    font-size: small;
    text-align: center;
}

p.attribution {
    max-width: 650px;
}

.tuneTitle {
    font-size: 110%;
}

.player audio {
    width: 70%;
}


.abctext {
    display: none;
}

.outputABC {
    max-width: 650px;
}

.loopButton {
    background-color: lighten($brand-color, 40%);
    background: linear-gradient($Loopbutton-color1, $Loopbutton-color2);
    cursor: pointer;
    padding: 3px;
    border-radius: 8px;
    font-size: 75%;
}
// END: controls for audio and ABC players

.filterButton {
    background-color: $brand-color;
    padding: 7px 5px 4px 5px;
    color: darken($complimentary-color, 10%);
    cursor: pointer;
    border-radius: 8px;
    font-size: 75%;
    border-style: solid;
    border-width: 2px;
    border-color: darken($brand-color, 10%)
}

.filterButton.filterDisabled {
    opacity: 0.55;
    cursor: not-allowed;
}

.sep {
    border-bottom: 1px solid black;
}

.sep td {
    padding-bottom: 5px;
}

h2 span {
    display:inline;
}

fieldset {
    max-width: 565px;
    float:left;
    margin: 0 auto;
    text-align: left;
    border-radius: 8px;
    border-color: $brand-color;
    border-style: solid;
    background-color: $complimentary-color;
}

.fieldset-tune-of-the-week {
    min-width: 300px;
    max-width: 565px;
    width: 70%;
    text-align: center;
    margin-bottom: 1rem;
}

.fieldset-covid {
    max-width: none;
    margin-bottom: 1rem;
    background-color: #f7c501;
    padding-bottom: 0; 
}

.formParent {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    max-width: 565px;
}

.formChild {
    flex: 1;
    padding: 1rem;
    padding-bottom: 0rem;
}

form {
    text-align: left;
}

input,
select,
textarea {
    border-radius: 8px;
}

th {
    background-color: $brand-color;
    color: darken($complimentary-color, 10%);
    cursor: pointer;
    text-align: center;
    position: sticky;
    -webkit-position: sticky;
    top: 0;
}

th:first-of-type {
    border-top-left-radius: 8px;
}

th:last-of-type {
    border-top-right-radius: 8px;
}

tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 8px;
}

tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 8px;
}

.tdArchive {
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

td {
    text-align: center;
}

tr:nth-of-type(odd) {
    background-color: darken($complimentary-color, 6%);
}

tr:hover {
    background-color: darken($complimentary-color, 12%);
}

tr#no_hover:hover {
    background-color: transparent;
}

// START: sliders used in ABCplayer
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 50%;
    background: #a0a0a0;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.slider:hover {
    opacity: 1;
}
// The slider handle (use -webkit- (Chrome, Opera, Safari, Edge)
// and -moz- (Firefox) to override default look)

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    // adjust width of control button
    width: 15px;
    // adjust height of control button
    height: 20px;
    border-radius: 50%;
    background: darken($brand-color, 20%);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    // adjust width of control button
    width: 15px;
    // adjust height of control button
    height: 20px;
    border-radius: 50%;
    background: darken($brand-color, 20%);
    cursor: pointer;
}
// END: sliders used in ABCplayer

// START: used for Preset Loops
.upButton {
    background-color: $brand-color;
    color: darken($complimentary-color, 10%);
    cursor: pointer;
    padding: 1px;
    text-align: center;
    font-size: 90%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.downButton {
    background-color: $brand-color;
    color: darken($complimentary-color, 10%);
    cursor: pointer;
    padding: 1px;
    text-align: center;
    font-size: 90%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.loopClass {
    font-size: 14px;
    border-radius: 2px;
    width: 45px;
}

.loop-container {
    max-width: 625px;
    padding-left: 20px;
    display: block;
    border: 2px solid $complimentary-color;
}

.row-title {
    color: darken($complimentary-color, 10%);
    background-color: $brand-color;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.row-odd {
    //background-color: lighten($brand-color, 40%);
    background-color: darken($complimentary-color, 10%);
}
// END: used for Preset Loops

// ????
.a {
    color: #f0f0f0;
}

// START: tooltip is used on the Help button in the Search box in Tunes Archive
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
// END: tooltip is used on the Help button in the Search box in Tunes Archive

.featurePicture {
    border: 1px solid black;
    border-radius: 8px;
    margin-right: 1rem;
    padding: 10px;
    width: 400px;
    float: left;
}

.licenceUsed {
    overflow-y: scroll;
     height: 200px;
     border: 1px solid black;
     border-radius: 8px;
     margin: 10px;
     padding: 10px;
}

// START: CSS for managing 'tables' on set pages
.tableParent {
    display: flex;
    width: 100%;
}

.tableChild {
    padding: 0rem;
}

.tuneSelect {
    height: 320px;
    max-width: 600px;
    display: block;
    border: 2px solid $complimentary-color;
    font-size: 14px;
    overflow-x: hidden;
    overflow-y: auto;
}
// END: CSS for managing 'tables' on set pages

// START: CSS for managing the "tunes" grids that appear on a number of pages
.gridParent {
    display: flex;
    width: 100%;
}

.gridChild {
    padding: 0rem;
}

// if the height is 320px we show 10 tunes in the table 
.tunesArchiveLayout{
    display: grid;
    height: 320px;
    grid-template-columns: minmax(100px, 350px) 2fr minmax(50px, 90px);
    grid-auto-rows: fit-content(1em);
    overflow-x: hidden;
    overflow-y: auto;
}

.tunesArchiveLayout > span {
    display: flex;
    padding: 4px 2px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.tunesArchiveLayout > span:nth-child(6n+1),
.tunesArchiveLayout > span:nth-child(6n+2),
.tunesArchiveLayout > span:nth-child(6n+3) {
    background-color: darken($complimentary-color, 6%);
}

// if the height is 320px we show 10 tunes in the table
.tunesObrienLayout{
    display: grid;
    height: 320px;
    max-width: 600px;
    grid-template-columns: minmax(200px, 300px) minmax(60px, 90px);
    grid-auto-rows: fit-content(1em);
    overflow-x: hidden;
    overflow-y: auto;
}

.tunesObrienLayout > span {
    display: flex;
    padding: 4px 2px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.tunesObrienLayout > span:nth-child(4n+1),
.tunesObrienLayout > span:nth-child(4n+2) {
    background-color: darken($complimentary-color, 6%);
}

.titleSpanLeft {
    background-color: $brand-color;
    color: darken($complimentary-color, 10%);
    border-top-left-radius: 8px;
}

.titleSpan {
    background-color: $brand-color;
    color: darken($complimentary-color, 10%);
    
}

.titleSpanRight {
    background-color: $brand-color;
    color: darken($complimentary-color, 10%);
    border-top-right-radius: 8px;
}


::-webkit-scrollbar {
    /* style scrollbar for WebKit */
    width: 15px;
}

::-webkit-scrollbar-track {    
    /* style scrollbar track for WebKit */
    background: $complimentary-color ;
}

::-webkit-scrollbar-thumb {    
    /* style scrollbar thumb for WebKit */
    background-color: darken($brand-color, 20%);
    /* border color matches track background */
    border: 3px solid $complimentary-color;
    border-radius: 8px;
    /* this sets minumum height */
    height: 40px;
}

// mobileScrolling is enables via a test in the javascript that draws the grid
.mobileScrolling {
    scrollbar-width: none;
    border-color: $brand-color;
    border-style: solid;
    border-radius: 8px;
}

.mobileScrolling::-webkit-scrollbar {
    display: none;
}

// END: CSS for managing the "tunes" grids that appear on a number of pages

// START: LongBow
.longBowProgressLR {
    width: 100%;
    height: 30px;
    position: relative;
    background-color: lightgray;
  }
  
  .longBowProgressRL {
    width: 100%;
    height: 30px;
    position: relative;
    background-color: khaki;
  }
  
  .longBowBarLR {
    background-color: lightsteelblue;
    width: 0px;
    height: 30px;
    position: absolute;
  }
  
  .longBowBarRL {
    background-color: silver;
    width: 100%;
    height: 30px;
    position: absolute;
  }
  // END: LongBow