// Local mods to noUi sliders

.noUi-target {
    background: none;
    border: none;
    box-shadow: none;
}

.noUi-horizontal {
    border-radius: 50%;
    height: 0.8rem;
}

.noUi-horizontal .noUi-handle {
    width: 1rem;
    height: 2.2rem;
    left: -8px;
    top: -6px;
}

html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
    right: -10px;
    left: auto;
}

.noUi-handle {
    border: 1px solid lightgray;
    border-radius: 3px;
    background: $brand-color;
    cursor: default;
}

.noUi-handle::before,
.noUi-handle::after {
    background: none;
}

.noUi-tooltip {
    display: block;
    position: absolute;
    border: 0 solid lightgray;
    border-radius: 8px;
    background: transparent;
    color: $brand-color;
    padding: 0 0.1rem;
    text-align: center;
    white-space: nowrap;
}

.noUi-horizontal .noUi-tooltip {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 190%);
    left: 50%;
    bottom: 120%;
    font-size: small;
    padding: 0.3rem;
    z-index: -1;
}

.noUi-horizontal .noUi-handle {
    width: 1rem;
    height: 1.5rem;
    border-radius: 50%;
    background: darken($brand-color, 20%);
    border-color: darken($brand-color, 20%);
    cursor: pointer;
}

.noUi-horizontal .noUi-handle[data-handle='1'] {
    width: 1rem;
    height: 1.5rem;
    border-radius: 50%;
    background: green;
    border-color: darken($brand-color, 20%);
    cursor: pointer;
}

.noUi-horizontal .noUi-handle[data-handle='1'] .noUi-tooltip {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 20%);
    left: 50%;
    bottom: 120%;
    font-size: small;
    padding: 0.3rem;
    z-index: -1;
}

.noUi-connects,
.noUi-connect {
    background: steelblue;
    opacity: 0.7;
    border-radius: 50%;
    border: none;
}
