// Base Colors
$primary-color: #231B19;
$secondary-color: #aaa;
$complimentary-color: #fff;
$body-bg: #fdfdfd;
$body-font-color: #222;

// Our choice!
//$brand-color: #668092;
$brand-color: #455C63;

// LoopButtons
$Loopbutton-color1: lighten($brand-color, 40%);
$Loopbutton-color2: lighten($brand-color, 30%);

// Links
$link-color: #0000EE; //$brand-color;
$link-hover-color: lighten($link-color, 25%);
$link-visited-color: #551A8B; // darken($link-color, 25%);

// Text
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size: 1.0em;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;


// Primary Navbar Settings
$navbar-height: 44px;
// We choose to always have a pull down menu - reduce this width to change
$navbar-menu-width: 1960px;
$navbar-color: $primary-color;
$navbar-text-color: $secondary-color;
$navbar-hover-color: $complimentary-color;
$navbar-active-color: darken($complimentary-color, 75%);
$navbar-font-size: 13px;
$navbar-font-family: "Open Sans", Helvetica, Arial, sans-serif;

// Socials Navbar Settings
$socials-font-color: $secondary-color;
$socials-font-size: 1.5em;

// Utility
$spacing-unit: 20px;

// Footer
$footer-height: 30px;
$footer-color: lighten($brand-color, 40%);

// DEPRECATION WARNING on line 226 of 
// /home/asjl/GitHub/welly-clone/_sass/foundation/util/_mixins.scss:
// !global assignments won't be able to declare new variables in future 
// versions. Consider adding `$-zf-size: null` at the top level.
$-zf-size: null
