---
layout: page
---
<div id="tunelist"></div>
Type: {{ page.rhythm }}, added
<time datetime="{{ page.date | date_to_xmlschema }}" setTuneprop="datePublished">{{ page.date | date: "%-d %B %Y" }}</time>
<br />Played in: {{ page.location }}
<br />

<!-- Area to store unrolled ABC (style="display:none;")-->
<textarea id="ABCprocessed" style="display:none;">X: 1
</textarea>

<script type="text/javascript">

var MyFonts = "%%titlefont       Helvetica 20\n\
%%subtitlefont    Helvetica 16\n\
%%gchordfont      Helvetica 12\n\
%%composerfont    Helvetica-Oblique 14\n\
%%partsfont       Helvetica 12%%\n\
%%tempofont       Helvetica 12\n\
%%annotationfont  Helvetica 12\n\
%%infofont        Helvetica 12\n\
%%textfont        Helvetica 12\n\
%%vocalfont       Helvetica 12\n\
%%wordsfont       Helvetica 12\n";

var tuneList = '';
var abcSource = '';
var regex = new RegExp('X:.*\n');
var printTunes = '';

function printSet(printTunes) {
    var originalContents = document.body.innerHTML;

    document.body.innerHTML = printTunes;
    window.print();
    document.body.innerHTML = originalContents;
}
</script>

{% assign tuneId = 100 %}
{% for setTune in page.tunes %}
{% assign siteTunes = site.tunes | where: 'titleID', setTune %}
{% for tune in siteTunes %}
    <div id="notation{{tuneId}}" class="abc"></div>
    <script type="text/javascript">
        tuneList += '{{ tune.title | escape  }} ({{ tune.key}}), ';

        var thisTune = "%%staffwidth 540\n" + MyFonts + {{ tune.abc | jsonify }};
        ABCJS.renderAbc('notation{{tuneId}}', thisTune);

        abcSource = {{ tune.abc | jsonify }};
        abcSource = abcSource.replace(regex, '');

        // Get the ABCplayer to go through each tune twice
        document.getElementById('ABCprocessed').innerHTML += preProcessABC(abcSource) + "\n";
        document.getElementById('ABCprocessed').innerHTML += preProcessABC(abcSource) + "\n";

        printTunes += document.getElementById('notation{{tuneId}}').innerHTML;
    </script>
    {% assign tuneId = tuneId | plus: 1 %}
{% endfor %}
{% endfor %}

<!-- Controls for ABC player -->
<div id="ABCplayer"></div>

<hr>
<p>You can print your set using this button. Please think of the trees!</p>

<input class="button" type="button" class="loopButton" onclick="printSet(printTunes)" value="Print this Set" />

<script>
$(document).ready(function() {
    tunelist.innerHTML = tuneList.slice(0, -2);

    ABCplayer.innerHTML = createABCplayer('processed', 'abcplayer_tunepage', '{{ site.defaultABCplayer }}');

    // One-liner to resume playback when user interacted with the page
	document.querySelector('button').addEventListener('click', function() {
		audioCtx.resume().then(() => {
	    	console.log('Playback button selected');
	  	});
  	});
});
</script>
