---
layout: page
---
<div class="outputABC">
    {% if page.abc contains "K:" %}
    
    <!-- display the dots -->
    <div id="abcPaper" class="abcPaper"></div>
    <div id="abcAudio"></div>
    
    <!-- play the ABC version -->
    <div style="overflow-x:auto;">
    <div id="pageABCplayer"></div>
    </div>

    <!-- show/edit the ABC -->
    <details>
        <summary class="filterButton">ABC Source</summary>
        <div id='abcSource'>
            <textarea id="textAreaABC" class="abcText" rows="14" spellcheck="false"></textarea>
            <!-- show ABC errors -->
            <div id='abcWarnings'></div>

            <p>You can edit the ABC source, and see your changes. This will <b>NOT</b> change the website directly. A brief set of instructions is found <a href="/editingABC/">here.</a></p>
            <div title="Download the ABC you've entered. Don't lose your work!">
       	    <input value='Download ABC' type='button' class="filterButton"
            onclick='downloadABCFile(document.getElementById("textAreaABC").value)' />
            </div>
        </div>
    </details>

    <!-- attribution details-->
    <div>
        <br />
        {% if page.abc_source %}
        <p>The music notation was derived from
        {% if page.abc_url %}
        <a href="{{ site.tunebooks_host }}{{ page.abc_url }}">{{ page.abc_source }}</a></p>
        {% else %}
        {{ page.abc_source }}
        {% endif %}
        {% endif %}
    </div>
    {% endif %}
</div>

{% assign tuneID = 1 %}
<script>

window.store = {
    "{{ tuneID }}": {
        "title": "{{ page.title | xml_escape }}",
        "tuneID": "{{ tuneID }}",
        "key": "{{ page.key | xml_escape }}",
        "rhythm": "{{ page.rhythm | xml_escape }}",
        "abc": {{ page.abc | jsonify }}
    },
};

document.addEventListener("DOMContentLoaded", function (event) {
    let tuneID = "{{ tuneID }}";

    audioPlayer.selectTune(window.store, tuneID);
});
</script>
