---
layout: page
---
<div class="outputABC">
    {% if page.abc contains "K:" %}
    
    <!-- display the dots -->
    <div id="abcPaper" class="abcPaper"></div>
    <div id="abcAudio"></div>
    
    <!-- play the ABC version -->
    <div style="overflow-x:auto;">
    <div id="pageABCplayer"></div>
    </div>

    <!-- show/edit the ABC -->
    <form>
        <input type="button" class="filterButton" value="Show ABC Source" onclick="audioPlayer.toggleABC(this);">
    </form>
    <div id='abcSource' class="abcSource">
        <textarea id="textAreaABC" class="abcText" rows="14" spellcheck="false"></textarea>
        <!-- show ABC errors -->
        <div id='abcWarnings'></div>

        <p>You can edit the ABC source, and see your changes. This will <b>NOT</b> change the website directly. A brief set of instructions is found <a href="/editingABC/">here.</a></p>
        <div title="Download the ABC you've entered. Don't lose your work!">
       	<input value='Download ABC' type='button' class="filterButton"
            onclick='wssTools.downloadABCFile(document.getElementById("textAreaABC").value)' />
        </div>
    </div>

    <!-- attribution details-->
    <div>
        <br />
        {% if page.musician != null and page.page != null %}
        <p>The music notation was derived from the playing of {{ page.musician }}. See <a href="/tunebooks/The_Northern_Fiddler.pdf">The Northern Fiddler</a>, Page {{ page.page }}.
        {% endif %}
    </div>
    {% endif %}
</div>


{% assign tuneID = 1 %}
<script>

window.store = {
    "{{ tuneID }}": {
        "title": "{{ page.title | xml_escape }}",
        "tuneID": "{{ tuneID }}",
        "key": "{{ page.key | xml_escape }}",
        "rhythm": "{{ page.rhythm | xml_escape }}",
        "mp3": "{{ site.mp3_host | append: page.mp3_file | xml_escape }}",
        "musician": "{{ page.musician | xml_escape }}",
        "page": "{{ page.page | xml_escape }}",
        "abc": {{ page.abc | jsonify }}
    },
};

document.addEventListener("DOMContentLoaded", function (event) {
    let tuneID = "{{ tuneID }}";
    audioPlayer.selectTune(window.store, tuneID);
});
</script>
