---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
<h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
<p class="post-meta"> {{ page.key }} {{ page.mode }} {{ page.rhythm }}, added
  <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%-d %B %Y" }}</time>
</p>

{% assign titleTag = page.title | slugify | remove: '-' %}
<div class="player">

{% if page.mp3_file %}
<!--Layout audioplayer at top of page if mp3 file is available-->
<form onsubmit="return false" oninput="level.value = flevel.valueAsNumber">
    <audio id="{{ titleTag }}A" title="{{ page.title }}" controls loop>
        <source src="{{ site.mp3_host }}{{ page.mp3_file }}" type="audio/mpeg"> 
    </audio>
    <input name="flevel" id="{{ titleTag }}RS" type="range" min="50" max="120" value="100" onchange="setPlaySpeed(value/100, {{ titleTag }}A)">
    <output name="level">100</output>%
    <br />
    <!--build the loop mechanism for each tune--> 
    <span title="Play tune, select loop starting point, then select loop end point">
    &emsp;&emsp;&emsp;&emsp;&emsp; 
        <input type="button" id="{{ titleTag }}B1" value="Loop Start" onclick="SetPlayRange({{ titleTag }}A,0,{{ titleTag }}B1, {{ titleTag }}B2)">
        <input type="button" id="{{ titleTag }}B2" value=" Loop End " onclick="SetPlayRange({{ titleTag }}A,1,{{ titleTag }}B1, {{ titleTag }}B2)">
        <input type="button" value="Reset" onclick="SetPlayRange({{ titleTag }}A,2,{{ titleTag }}B1,{{ titleTag }}B2)">
                
    </span>
</form>
{% else %}
<!-- build the abc player for each tune-->
<form onsubmit="return false" oninput="level.value = Math.round(flevel.valueAsNumber/3.2)">
    <input type="button" value="Play ABC" id="play" onclick="abcSliderChanged({{ titleTag }}RSM.value,ABC)">
    <input type="button" value="Stop" id="stop" onclick="stopABC(ABC)">
    <input name="flevel" id="{{ titleTag }}RSM" type="range" min="160" max="384" value="320" onchange="abcSliderChanged(value, ABC)">
    <output name="level">100</output>%
</form>
{% endif %}
</div>

<script type="text/javascript" src="/js/audio_controls.js"></script>  
<script type="text/javascript" src="/js/musical-ws.js"></script>
<script type="text/javascript" src="/js/abc_controls.js"></script>

<script type="text/javascript">
var MyTune="%%staffwidth 540\n" + {{ page.abc | jsonify  }};
var MyABC = "<span class='showabc' style='font-size: 12px'><br />" + {{ page.abc | newline_to_br | jsonify }} + "</span>";

function toggle(button) 
{
     switch(button.value)
     {
          case "Show ABC Source":
               button.value = "Hide ABC Source";
               document.getElementById('abcsource').innerHTML = MyABC;
               break;
          case "Hide ABC Source":
               button.value = "Show ABC Source";
               document.getElementById('abcsource').innerHTML = "";
               break;
     }
}
</script>


<div class="post-content" itemprop="articleBody">
    <div class="abc"><div id="notation"></div></div>
  
    {{ content }}
    
    <div id="abcButtons">
        <form  onsubmit="return false"  oninput="level.value =  Math.round(flevel.valueAsNumber/3.2)">
            <input   type="button"   value="Play ABC"   id="play" onclick="abcSliderChanged({{ titleTag }}RSM.value, ABC)">
            <input type="button" value="Stop"  id="stop" onclick="stopABC(ABC)">  
            <input  name="flevel" id="{{  titleTag }}RSM" type="range" min="160"  max="384" value="320"            
                         onchange="abcSliderChanged(value,ABC)">
            <output name="level">100</output>% 
        </form> 
        <br /> 
    </div>

    <form>
        <input type="button" value="Show ABC Source" onclick="toggle(this);">
    </form>
  
    <div id="abcsource"></div>
</div>

<textarea id="ABC" style="display:none;"></textarea>

<div class="attribution">
The audio of {{ page.title }} is sourced from <a href="{{ page.mp3_url }}">{{ page.mp3_source }}</a>, 
and is made available under 
{% case page.mp3_licence %}
    {% when 'CC-BY-NC-2.5' %}
<a href="https://creativecommons.org/licenses/by-nc/2.5/">Creative Commons Attribution-Noncommercial 2.5 License</a>.
    {% when 'CC-BY-4.0' %}
<a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International (CC BY 4.0) Licence</a>.
    {% when 'CC-BY-NC-4.0' %}
<a href="https://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International (CC BY-NC 4.0) Licence</a>.
    {% when 'Attribution-Share Alike 3.0 United States License' %}
<a href="http://creativecommons.org/licenses/by-sa/3.0/us/">Attribution-Share Alike 3.0 United States License</a>.
    {% when 'Connie_O_Connell' %}
an agreement with Connie O'Connell. Permission to use gratefully acknowledged.<br />© Connie O'Connell. All Rights Reserved.
{% endcase %}

{% if page.abc_source %}
The music notation was sourced from <a href="{{ page.abc_url }}">{{ page.abc_source }}</a>.
{% endif %}
</div>

<script>
$(document).ready(function() {
      {{ titleTag }}RSM.value=320; //initialise tune speed
      ABCJS.renderAbc('notation', MyTune);
      ABC.value = preProcessABC(MyTune);
});
</script>

</article>
